<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Home</title>

    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <header>
        <h1>UniHang</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/orgs">Orgs</a></li>
                <li><a href="/landing">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <!-- picture of user goes here and src will be
            filled with the source of the picture. Just a place holder atm -->
            <img src="../public/media/img/uni.jpg" alt="Placeholder Pic">

            <p id="name">
                <%=user.fname%> &nbsp; <%=user.lname%>
            </p>
        </section>

        <section class="container">
            <h2>Major/Minor</h2>
            <p id="major">
                <%=user.major%>
            </p>

            <h2>Bio</h2>
            <p id="bio">
                <%=user.bio%>
            </p>
        </section>

    </main>
    
    <hr>
    
    <footer>
        &copy; UniHang
    </footer>
</body>
</html>