<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Landing</title>

    <link rel="stylesheet" href="../public/css/landing.css">
    
</head>
<body>
    <header>
      <a href="/">
        <img src="../public/media/img/unihang_logo.jpg" alt="UniHang" class="logo">
      </a>


      <a href="/sign_up">
        <button class="sign_up">Sign Up</button>
      </a>
      
    </header>

    <main class="login">
        <section class="container">
        <h2>What We're About</h2>
        <p>
          Helping bring Oakland University students come together!
          Sign up!
        </p>

        <article id="fun_fact">
          <img src="../public/media/img/uni.jpg" alt="Sea Urchins" id="uni">
          <div>
            Fun fact! Did you know?
            <br>
            Uni (oo-nee) is Japanese for sea urchin gonads.
          </div>
        </article>
        </section>

        <section class="container">
            <form action="" id="user_login">
              <h2>Already have an account? Login!</h2>
              <div class="msg">Enter your name and email.</div>
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="e.g John Doe">
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="e.g johndoe@email.com">
              </div>
              <div>
                  <input type="button" value="Login" id="button">
              </div>
            </form>

        </section>
    </main>

    <hr>

    <footer>
        &copy; UniHang
    </footer>
    
</body>
</html>