<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Login Page</title>

    <link rel="stylesheet" href="../public/css/signup.css">
</head>
<body>
    <header>
      <a href="/">
        <img src="../public/media/img/unihang_logo.jpg" alt="UniHang" class="logo">
      </a>
    </header>

    <main>
        <section class="container">
            <form id="user_signup" action="/newuser/" method="post">
              <h2>Create a profile</h2>
              <div class="msg">
                Enter your information.
              </div>
              <div>
                <label for="fname">First Name:</label>
                <input type="text" name="fn" autocomplete="off" placeholder="e.g John">
              </div>
              <div>
                <label for="lname">Last Name:</label>
                <input type="text" name="ln" autocomplete="off" placeholder="e.g Doe">
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="text" name="e" autocomplete="off" placeholder="e.g johndoe@email.com">
              </div>
              <div>
                <label for="major">Major:</label>
                <input type="text" name="m" autocomplete="off" placeholder="e.g Information Technology ">
              </div>
              <div>
                <input type="submit" value="Sign Up" id="button">
              </div>
            </form>
        </section>
    </main>

    <hr>

    <footer>
        &copy; UniHang
    </footer>
    
</body>
</html>