<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniHang Login Page</title>

    
</head>
<body>
    <header>
        <h1>UniHang</h1>
    </header>

    <main>
        <section class="container">
            <form id="user_signup">
              <h2>Create a profile</h2>
              <div class="msg">Enter your information.</div>
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name">
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="text" id="email">
              </div>
              <div>
                <label for="major">Major:</label>
                <input type="text" id="major">
              </div>
              <div>
                <label for="interests">Interests:</label>
                <input type="text" id="interests">
              </div>
              <div>
                <label for="pic">Add A Picture:</label>
                <input type="file" name="picture" accept="image/png, image/gif, image/jpeg" >
              </div>
              <button class="button">Submit</button>
            </form>
        </section>
    </main>

    <hr>

    <footer>
        &copy; UniHang
    </footer>
    
</body>
</html>