body{
  background-color: rgb(255, 255, 255);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 400px;
}

h2{
  text-align: center;
  font-size: 200%;
  color: rgb(240, 156, 0);
}

.sign_up{
  display: flex;
}

#button{
  width: auto;
  padding: auto;
  background: rgb(0, 0, 0);
  color: rgb(255, 165, 0);
  border-radius: 5px;
}

#button:hover{
  background: rgba(0, 0, 0, 0.548);
}

.container{
  flex: 50%;
  padding: 20px;
  height: 500px;
  overflow: auto;
  border-style: groove;
  border-width: thick;
  background-color: rgba(0, 0, 0, 0.2);
}

#uni{
  width: 220px;
  height: auto;
}
