body{
    background: rgb(255, 255, 255);
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 400px;
  }

h2{
    text-align: center;
    color: rgb(240, 156, 0);
    font-size: 200%;
}

.container{
    margin: 0 auto;
    width: 295px;
    height: 400px;
    padding: 20px;
    border: solid rgb(0, 0, 0);
    color: rgb(240, 156, 0);
}

input{
    float: right;
}

main {
    margin: 20px 0;
    padding: 10px;
}

#user_signup{
    width: 300px;
    height: 400px;
}

.button{
    width: 100px;
    padding: auto;
    background: rgb(0, 0, 0);
    color: rgb(255, 165, 0);
    border-radius: 5px;
    text-align: center;
}